.titulo {
  font-family: "Playfair Display SC", georgia;
  font-size: 6rem;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 1rem;
  grid-column: 1 / 4;
}
.animais h2 {
  font-family: "IBM Plex Mono", monospace;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: .1em;
  margin-bottom: 1rem;
  color: #e54;
}
.animais h2::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 10px;
  margin-right: 10px;
  background: #fb5;
}
.animais p {
  font-family: Helvetica, Arial;
  line-height: 1.2;
}
.animais p + p{
  margin-top: 1rem;
}
.animais-lista {
  height: 370px;
  overflow-y: scroll;
  grid-column: 2;
}
.animais-lista li{
  cursor: pointer;
}
.animais-lista::-webkit-scrollbar{
  width: 18px;
}
.animais-lista::-webkit-scrollbar-thumb{
  background: #fb5;
  border-left: 4px solid #faf6ed;
  border-right: 4px solid #faf6ed;
}
.animais-lista::-webkit-scrollbar-track{
  background: #faf6ed;
}
.animais-descricao{
  grid-column: 3;
}
.animais-descricao section + section{
  margin-top: 3rem;
}
