.faq-lista{
  grid-column: 2 / 4;
}
.faq-lista dt{
  font-family: 'IBM Plex Mono' , monospace;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: .5rem;
  color: #e54;
}
.faq-lista dt::before{
  content: "";
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 10px;
  background: #fb5;
}
.faq-lista dd{
  font-family: Helvetica, Arial;
  margin-bottom: .5rem;
  margin-left: 30px;
}
