/*  Navegação por Tabs */
.js [data-tab="content"] section{
  display: none;
}

.js [data-tab="content"] section.ativo{
  display: block !important;
  margin-top: 0rem;
}
.js [data-tab="content"] section.ativo.show-right{
  animation: show-right .5s forwards;
}
.js [data-tab="content"] section.ativo.show-down{
  animation: show-down .5s forwards;
}

@keyframes show-right {
  from{
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  to{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes show-down {
  from{
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}


/* Accordion List */
.js [data-anime="accordion"] dd{
  display: none;
}

[data-anime="accordion"] dt::after{
  content: "⮟";
  margin-left: 15px;
}
[data-anime="accordion"] dt.show::after{
  content: "■";
}

.js [data-anime="accordion"] dd.show{
  display: block;
  animation: showlist .5s forwards;
}

@keyframes showlist {
  from{
    opacity: 0;
    transform: translate3d(0, -10px, 0);
  }
  to{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/* Scroll Animation */
.js [data-anime="scroll"]{
  opacity: 0;
  transform: translate3d(-30px, 0, 0);
  transition: .3s;
}
.js [data-anime="scroll"].anime{
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
