/* CSS RESET */
body,
h1,
h2,
h3,
p,
dt,
dd,
dl,
ul,
li,
span,
a {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  display: block;
}
img {
  max-width: 100%;
  display: block;
}
/*  */
html{
  scroll-behavior: smooth;
}
body {
  zoom: 1.2;
  background: #faf6ed;
  color: #222;
  -webkit-font-smoothing: antialiased;
  display: grid;
  grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}
.grid-section.animais{
  padding-bottom: 0px;
}
.grid-section {
  grid-column: 2 / 4;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  display: grid;
  grid-template-columns: 90px 300px 1fr;
  grid-gap: 20px;
  margin-bottom: 4rem;
}
