.js .js-tabcontent section{
  display: none;
}

.js .js-tabcontent section.ativo{
  display: block !important;
  margin-top: 0rem;
  animation: show .5s forwards;
}

@keyframes show {
  from{
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  to{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
/*  */
.js .js-accordion dd{
  display: none;
}

.js-accordion dt::after{
  content: "⮟";
  margin-left: 12px;
}
.js-accordion dt.show::after{
  content: "■";
}

.js .js-accordion dd.show{
  display: block;
  animation: showlist .5s forwards;
}

@keyframes showlist {
  from{
    opacity: 0;
    transform: translate3d(0, -10px, 0);
  }
  to{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

